version: "2"
services:
  frontend:
    image: bde2020/ember-swarm-ui-frontend:0.2.1
    ports:
      - "88:80"
    links:
      - identifier:backend
  identifier:
    image: semtech/mu-identifier:1.0.0
    links:
      - dispatcher:dispatcher
  dispatcher:
    image: semtech/mu-dispatcher:1.0.1
    links:
      - resource:resource
    volumes:
      - ./config/dispatcher:/config
  db:
    image: tenforce/virtuoso:1.0.0-virtuoso7.2.2
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    ports:
      - "8898:8890"
    volumes:
      - ./data/db:/data
  resource:
    image: semtech/mu-cl-resources:1.11.0
    links:
      - db:database
    volumes:
      - ./config/resources:/config
  swarm:
    image: bde2020/mu-swarm-admin-service
    environment:
      ENV: "dev"
    links:
      - db:database
    volumes:
      - /run/:/run/
      - /data/:/data/

